<h1>Welcome <%= @user.username %></h1>

<% if @user.teams %>
    
    <% @user.teams.each do |t| %>
        <ul>
            <li>Team name: <%= t.name %></li><br>
            <li>Game played: <%= t.game_play %></li><br>
            <li>Wins: <%= t.wins %></li><br>
            <li>Draws: <%= t.draws %></li><br>
            <li>Losses: <%= t.losses %></li><br>
            <li>Points: <%= t.points %></li><br>
            <%= link_to 'Edit Team', edit_user_team_path(@user, t)%>
        </ul>
    <% end %>
    
<% else %>
    <h2>You have no teams, go <%= link_to 'create', new_user_team_path(@user) %> one</h2>
<% end %>
    <h3><%= link_to 'Create new team', new_user_team_path(@user) %></h3>

