
</section>
    <div class="hotel_booking_area position">
        <div class="container">
            <div class="hotel_booking_table">
              <div class="col-md-3">
                     <h2>Traveler<br>
                     <p></p>
                     Info</h2>
                     <p></p>
              </div>
              <%= f.hidden_field :user_id %>
                <div class="col-md-9">
                    <div class="boking_table">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="book_tabel_item">
                                    <div class="form-group">
                                        <div class='input-group'>
                                          <h6><%= f.label "First name" %><br>
                                          <p></p>
                                          <%= f.text_field :traveler_first_name %></h6>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class='input-group'>
                                            <h6><%= f.label "Contact info" %><br>
                                            <p></p> 
                                            <%= f.text_field :traveler_contact_info %></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="book_tabel_item">
                                    <div class="input-group">
                                        <h6><%= f.label "Last name" %><br>
                                            <p></p>
                                            <%= f.text_field :traveler_last_name %></h6>
                                    </div>
                                    <div class="input-group">
                                        <h6><%= f.label "Seat" %><br>
                                            <p></p>
                                            <%= f.text_field :seat %></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="book_tabel_item">
                                    <div class="input-group">
                                        <h6><%= f.label "Gender" %><br>
                                            <p></p>
                                            <%= f.text_field :traveler_gender %></h6>
                                    </div>
    
                                    <% if params[:action] == "edit" %>    
                                    <div class="input-group">
                                        <h6><%= f.label "Select Another Flight" %><br>
                                            <p></p>
                                            <%= f.collection_select :flight_id, Flight.all, :id, :flight_full_info %></h6>
                                    </div>
                                    <% end %>

                                    <p></p><br>
                                          <%= f.submit :class => "book_now_btn button_hover"%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

        