<section>
    <div class="row">
    <div class="vertical-center">
    <%= form_for @trip, url: user_trips_path(@user), method: :patch do |f| %>
        <%= f.hidden_field :user_id %> 
        <%= render partial: 'form', locals: {f: f}%>
        <%= f.label "Change Flight:" %>
        <%= f.collection_select :flight_id, Flight.all, :id, :flight_number %>
        <div class="show-btn">
            <%= f.submit %>
        </div>
    <% end %>
    </div>
    </div>
</section>