<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Search for Trip</h2>
            <p>&nbsp</p>
            <%= form_tag user_trips_path(@user), method: :get do %>
                <%= text_field_tag :traveler_first_name, "Search by Traveler first name" %>
                <p>&nbsp</p>
                <%= submit_tag "Search", :class => "btn theme_btn button_hover" %>
            <% end %>
                <p>&nbsp</p>
            <% if @trips.empty? %>
                <div class="container">
                <div class="section_title text-center">
                <h2 class="title_color"><%= link_to "No Match", flights_path %></h2>
                </div>
                </div>
            <% end %>
        </div>
    </div>
</section>


<% @trips.each do |t| %>
    <%= render partial: 'trip_detail', locals: {t: t} %>
    <p></p>
<% end %>




