
<section>
    <div class="row">
    <div class="center">
<h2>Search for Trip</h2>
<div class="search-form">
<%= form_tag user_trips_path(@user), method: :get do %>
    <%= text_field_tag :traveler_first_name, "Search by Traveler first name" %>
</div>
    <div class="show-btn">
    <%= submit_tag "Search" %>
    </div>
 <% end %>  
    </div>
    </div>
</section>

<section>
    <div class="row">
    <div class="center">
<% if @trips %>
    <% @trips.each do |t| %>
        <ul>
            <%= link_to 'Trip Detail', user_trip_path(@user, t) %>
            <%= link_to 'Edit Trip', edit_user_trip_path(@user, t)%>
        </ul>
    <% end %>
<% else %>
    <h2>You have no trips, go <%= link_to 'create', flights_path %> one</h2>
<% end %>
    <h3><%= link_to 'Create new trip', flights_path %></h3>
    </div>
    </div>
</section>


