<section>
    <div class="row">
    <div class="vertical-center">
<h2>Trip Detail</h2>
<h5>Flight Detail</h5>
<%= @trip.flight.flight_number %><br>
<%= @trip.flight.from %><br>
<%= @trip.flight.to %><br>
<%= @trip.flight.departure_time %><br>
<%= @trip.flight.arrival_time %><br>
<%= @trip.flight.flight_duration %><br>
<h5>Traveler Detail</h5>
<%= @trip.traveler_first_name %><br>
<%= @trip.traveler_last_name %><br>
<%= @trip.traveler_gender %><br>
<%= @trip.traveler_contact_info %><br>

<%= link_to 'Edit Info', edit_user_trip_path(@user, @trip) %>
<%= button_to "Cancel Trip", [@user, @trip], method: :delete, data: { confirm: "Really?" } %>
    </div>
    </div>
</section>