
<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
                
            

                <%= form_tag '/signin', method: :post do %>
                <h2>Sign In</h2>
                        <p>
                            <%= label_tag :username %>
                            <%= text_field_tag :username %>
                        </p>
                        <p>&nbsp</p>
                        <p>
                            <%= label_tag :password %>
                            <%= text_field_tag :password %>
                        </p>
                        <p><%= render partial: "users/errors", locals: {errors: @errors} %></p>
                        <p>
                            <%= submit_tag "Sign In", :class => "btn theme_btn button_hover" %>
                        </p>
                <% end %>
                <%= button_to "Sign In With Facebook", '/auth/facebook', :class => "btn theme_btn button_hover"%>
        </div>
    </div>
</section>
