<%= render partial: 'users/errors', locals: {errors: @errors} %>

<section>
<div class="row">
  <div class="vertical-center">
<%= form_tag '/signin', method: :post do %>
    <%= label_tag :username %>
    <%= text_field_tag :username %><br>
    <%= label_tag :password %>
    <%= password_field_tag :password %><br>
    <div class="show-btn">
    <%= submit_tag "Sign In" %>
    </div>
<% end %>
    <div class="show-btn2">

    <%= button_to "Sign In With Facebook", '/auth/facebook'%>
    </div>

    </div>
    </div>
</section>