<section class="accomodation_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Search for Flight</h2>
            <p>&nbsp</p>
            <%= form_tag flights_path, method: :get do %>
                <%= text_field_tag :flight_number, "Search by flight number" %>
                <p>&nbsp</p>
                <%= submit_tag "Search", :class => "btn theme_btn button_hover" %>
            <% end %>
                <p>&nbsp</p>
            <% if @flights.empty? %>
                <div class="container">
                <div class="section_title text-center">
                <h2 class="title_color"><%= link_to "No Match", flights_path %></h2>
                </div>
                </div>
            <% end %>
        </div>
    </div>
</section>

    <h2></h2>
    <% @flights.each do |f| %>
        <%= render partial: "flight_detail", locals: {f: f} %>
        <p></p>
    <% end %>
