
<% @flights.each do |flight| %>
    <div>
        <ul>
            <li>From: <%= flight.from %> To: <%= flight.to %></li>
            <li>Departure Time: <%= flight.departure_time %> Arrival Time: <%= flight.arrival_time %></li>
            <%= link_to 'Flight Details', flight_path(flight) %>
        </ul>
    </div>
<% end %>
