
<%= @flight.flight_number %><br>
<br>

<div>
    <%= @flight.departure_time %>
    &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
    <%= @flight.arrival_time %>
</div>
<div>
    <%= @flight.from %>
    ------<%= @flight.flight_duration %>------
    <%= @flight.to %>
</div>
<br>

<% if current_user %>
    <%= button_to 'Book', new_user_trip_path(current_user), method: :get %>
<% else %>
    <%= button_to 'Book', '/signin' %>
<% end %>

