<!DOCTYPE html>
<html>
  <head>
    <title>Trip</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'style_layout', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
    <body>
        <!--================Header Area =================-->
        <header class="header_area">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                 
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                        <% if current_user %>
                            <li class="nav-item active"><%= link_to 'Home Page', user_path(current_user), :class => "nav-link" %></li> 
                            <li class="nav-item"><%= link_to 'Check Flights', flights_path, :class => "nav-link" %></li>
                            <li class="nav-item"><%= link_to 'My Trip', user_trips_path(current_user), :class => "nav-link" %></li>
                            <li class="nav-item"><%= link_to 'Log Out', '/logout', :class => "nav-link" %></li>
                            <% else %>
                            <li class="nav-item active"><%= link_to 'Home Page', '/', :class => "nav-link" %></li>
                            <li class="nav-item"><%= link_to 'Sign In', '/signin', :class => "nav-link" %></li>
                            <li class="nav-item"><%= link_to 'Sign Up', new_user_path , :class => "nav-link" %></li>
                            <% end %>
                        </ul>
                    </div> 
                </nav>
            </div>
        </header>
        <!--================Header Area =================-->
        <%= yield %>
    </body>
</html>